@import "../styles/reset.css";

html {
  font-size: 16px;
}

body {
  --base-text-color: #121212;
  --focus-color: #24388d;
  --input-border-color: #dadada;
  --input-bgc: #fff;
  --input-focus-border-color: #03cf5d;
  --input-focus-bgc: #e9f0fd;
  --btn-text-color: #fff;
  --btn-bgc: #03cf5d;
  --wrong-validate: #ff1414;
}

a {
  text-decoration: none;
  color: var(--base-text-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.naver_logo {
  inline-size: 14.375rem;
  margin-inline: auto;
  margin-block-start: 6.25rem;
}

.login_insert_info {
  inline-size: 100%;
  padding-inline: 1.25rem;
  margin-block-start: 3.125rem;

  .input_id,
  .input_pwd {
    margin-block: 0.3125rem;
  }

  .input_pwd,
  .input_id {
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 2.8125rem;
    border: 0.0625rem solid var(--input-border-color);
    background-color: var(--input-bgc);
    inline-size: 100%;
    padding-inline: 0.75rem;
  }

  .input_pwd:focus,
  .input_id:focus {
    outline: none;
    border: 0.0625rem solid var(--input-focus-border-color);
    background-color: var(--input-focus-bgc);
  }

  .invalid_pwd,
  .invalid_id {
    display: none;
    color: var(--wrong-validate);
    margin-block-start: 0.125rem;
    margin-block-end: 0.3125rem;
    font-size: 0.75rem;
  }

  .input_pwd:invalid + .invalid_pwd,
  .input_id:invalid + .invalid_id {
    display: block;
  }

  .login_options .ip_security {
    display: none;
  }

  .login_btn {
    all: unset;
    inline-size: 100%;
    font-size: var(--base-text-size);
    line-height: 2.8125rem;
    color: var(--btn-text-color);
    background-color: var(--btn-bgc);
    margin-block-start: 0.9375rem;
    text-align: center;
    font-weight: 600;

    &:focus {
      outline: 0.0625rem solid black;
    }
  }

  .stay_chk,
  .ip_secu_chk {
    all: unset;
  }

  .stay_loggedin,
  .ipsecurity {
    display: flex;
    margin-inline: 0;
  }

  .stay_chk + label {
    display: block;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    background-image: url("../assets/checked.svg");
    background-repeat: no-repeat;
  }

  .stay_chk:checked + label {
    display: block;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    background-image: url("../assets/unchecked.svg");
    background-repeat: no-repeat;
  }

  .ip_secu_chk + label::after {
    content: "ON";
    color: var(--btn-bgc);
    font-weight: 800;
  }

  .ip_secu_chk:checked + label::after {
    content: "OFF";
    color: #999999;
    font-weight: 800;
  }

  .login_options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-block-start: 0.625rem;

    p {
      margin-inline: 0.3125rem;
    }
  }

  @media (min-width: 768px) {
    inline-size: 500px;
    margin-inline: auto;

    .login_options .ip_security {
      display: flex;
      margin-inline: 0.3125rem;
    }
  }
}
