/* 활동중일때 사용할 원 */
.activate {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #4cfe88;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px white;
}

/* 활동중이 아닐때 사용할 원 */
.deactivate {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #dbdbdb;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px white;
}

/* 사진에 대한 크기 및 스타일 설정 */
.profile {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* float을 사용해서 정렬 */

.container {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 10px;
  float: left;
}

body {
  /* display: flex;
  flex-wrap: wrap-reverse;
  flex를 이용한 정렬 */
  width: 396px;
  height: 195px;
}
